---
---

@import 'fonts';

@media screen and (min-width:800px) {
  body {
    display:grid;
    max-width:1400px;
    min-height:100vh;
    grid-template-columns: 1fr 1fr 400px;
    grid-template-rows: min-content 1fr;
    grid-template-areas: "logo logo social"
                         "main main aside";

  }
  div#logo {
    margin-top:15px;
    grid-area:logo;
  }
  div#social {
    grid-area:social;
    text-align:right;
  }
  main {
    grid-area:main;
  }
  aside {
    grid-area:aside;
  }

  main {
    padding-left:15px;
    padding-right:15px;
  }
}

a.menu_ots_logo {
  font-size: 2em;
  margin: 0 3px 0 0.5em;
  background: #085987;
  color: #fff;
  padding: 8px 13px;
  text-decoration: none;
  text-indent: 100%;
  white-space: nowrap;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 300;
}
a.menu_ots_chapter {
  font-size: 2em;
  color: #085987;
  text-decoration: none;
  font-family: "Montserrat";
  font-weight: 300;
  font-style: normal;
}


h1, h2 {
  font-family: "Montserrat";
  font-weight:bold;
}

div.event {
  display:flex;
  flex-direction:row;
  margin-bottom:10px;
  cursor:pointer;
}

div.event > .date
{
  display:flex;
  flex-direction:column;
  background-color:#f6f7f8;
  border:1px solid rgba(46,62,72,.12);
  border-radius:8px;
  padding:8px;
  min-width:36px;
  min-height:36px;
}
div.event > .date > .day
{
  color: #085987;
  font-family: "Montserrat";
  font-size:16pt;
  text-align:center;
  font-weight:bold;
}

div.event > .date > .month
{
  color:rgb(102,112,122);
  font-family: "Montserrat";
  font-size:10pt;
  text-align:center;
  text-transform:uppercase;
}

div.event > .description
{
  padding:0px;
  padding-left:10px;
}

div.event > .description::first-letter {
  text-transform:uppercase;
}

div.event > .description > .date_time
{ 
  margin-top:0px;
  margin-bottom:0px;
  overflow:hidden;
  text-overflow:ellipsis;
  white-space:nowrap;
  font-family: "Montserrat";
  font-size:12pt;
  line-height:1.6;
  color:rgb(102,112,122);
}

div.event > .description > .title
{
  font-family: "Montserrat";
  font-size:12pt;
  margin-top:0px;
  margin-bottom:0px;
}

.entry img {
    max-width:100%;
}

img.book-cover {
    max-height:100px;
}

img.circle {
    overflow: hidden;
    width: 89px;
    border-radius: 45px;
}

ul.books {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

ul.books li {
    margin-bottom:1em;
}
