---
---

a.menu_ots_logo {
  font-size: 2em;
  margin: 0 3px 0 0.5em;
  background: #085987;
  color: #fff;
  padding: 8px 13px;
  text-decoration: none;
  text-indent: 100%;
  white-space: nowrap;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 300;
}
