<!DOCTYPE html>
<html>
<head>
<title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }} – {{ site.description }}</title>
<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/css/style.css" />
</head>
<body>
	<div id="logo">
        <a href="/" class="menu_ots_logo">OpenTechSchool</a>
        <a href="/" class="menu_ots_chapter">Zürich</a>
    </div>
	<div id="social">
    <a href="https://www.meetup.com/opentechschool-zurich"><img src="images/meetup-m-small.png"></a>
	</div>
    <main>
  {{ content }}
    </main>
    <aside>
		<h2>Upcoming events</h2>
        <!--
        <div class="event">
          <div class="date">
            <span class="day">28</span>
            <span class="month">aug</span>
          </div>
          <div class="description">
            <p class="date_time">Tue, Aug 28, 2018, 19:00</p>
            <p class="title">Learning C++ as a beginner</p>
          </div>
        </div>
        -->
		<div id="meetupEvents"></div>
    </aside>
    <script src="js/meetup.js"></script>
</body>
</html>
